<div class="logBox">
  <h2 class="title">Welcome to get me flights,
  <br>please login to continue.</h1>

  <%= form_tag login_path do %>
  <div class="logFields">
    <p>
      <%= label_tag(:email)%> <br>
      <%= text_field_tag(:email, params[:email], autofocus: true)%>
    </p>
    <p>
      <%= label_tag(:password)%> <br>
      <%= password_field_tag(:password)%>
    </p>
  </div>
  <div class="links">
  <p>
    <%= submit_tag("Log in", class: "btn btn-primary") %>
  </p>
  <% end %>

  <%= link_to "Don't have an account? Sign up here", signup_path%>
  <br>
  </div>
</div>