<!-- <h1>User Home</h1> -->
<div class="row">

<div class="alerts col-lg-6 col-md-6 col-sm-6">
 
<div class="bs-component well" data-example-id="hoverable-table" id="saved">
 
    <table class="table-striped table-hover" >
      <thead>
        <tr>
          <th>Saved Alerts</th><th>Origin - Destination</th><th>Depart - Return</th><th>Passengers: Adult/Children</th><th>Max Price</th><th>Cabin Class</th><th>Preferred Airlines / Prohibited Airlines</th>
        </tr>
      </thead>
      <tbody id="alerts">
        <% @alerts.each do |alert| %>
          <tr class="info">
          <td><%= button_to "Delete Alert", delete_alert_path(alert), :class => 'btn btn-raised btn-warning delBtn', method: :delete, data: { confirm: "Are you sure you want to remove this alert?"} %></td>
            <td><%= alert.origin %> - <%= alert.destination %></td>
            <td><%= alert.departDate %> - <%= alert.returnDate %></td>
            <td><%= alert.adultCount %> / <%= alert.childCount %></td>
            <td><%= alert.maxPrice %></td>
            <td><%= alert.preferredCabin %></td>
            <td><%= alert.permittedCarrier %> / <%= alert.prohibitedCarrier %> </td>        
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>



<div class="search col-lg-6 col-md-6 col-sm-6">
  <div class="searchHolder well">
  
  <%= form_tag new_search_path, method: "post", id:"search-input", :class =>  'form-horizontal' do %>
    <%= hidden_field_tag(:uid, session[:user_id]) %>
  <div class="form-group">
  <p>Search flights</p>
    <%= text_field_tag(:origin, nil, placeholder:"Departure Airport", :class =>  'form-control', autofocus: true,required: true) %> <%= text_field_tag(:destination, nil, placeholder:"Destination Airport", :class =>  'form-control', required: true) %> 
    <%= text_field_tag(:preferredCabin, nil, placeholder:"Cabin Class", :class =>  'form-control') %>
     <%= text_field_tag(:maxStops, nil, placeholder:"Stops", :class =>  'form-control') %> 
<!--   </div>
  <div class="form-group"> -->
    <%= date_field_tag(:departDate, Date.tomorrow, :class =>  'form-control', required: true) %> <%= date_field_tag(:returnDate, Date.tomorrow+3, required: true, :class =>  'form-control') %>
    <%= text_field_tag(:permittedCarrier, nil, placeholder:"Preferred Airlines",  :class =>  'form-control') %> <%= text_field_tag(:prohibitedCarrier, nil, placeholder:"Prohibited Airlines",  :class =>  'form-control') %>
<!--   </div>
  <div class="form-group"> -->
    <%= number_field_tag(:adultCount, nil, placeholder:"Adults", in: 1..10, :class =>  'form-control',required: true) %>
    <%= number_field_tag(:childCount, nil,  in: 0..10,placeholder:"Children", :class =>  'form-control') %>
    
<!--   </div>
  <div class="form-group"> -->
    <%= number_field_tag(:maxPrice, nil, min: 0, placeholder:"Max Price USD",  :class =>  'form-control', required: true) %>
  </div> 
    <%= submit_tag("Search", :class => 'btn btn-raised btn-primary', :'data-toggle' => "modal", :id => 'searcher')%>
  <% end %>
</div>
</div>
</div>
<div class="row">
<div id="save-search">
  <button type="button" class="btn btn-raised btn-primary" id="save" >Save this Search!</button>
</div>
<br>


<div id="loading"><%= image_tag("723.GIF") %></div>
<div class="results">
  <table class="table table-striped">
    <thead class="table-header">
      <tr>
        <td>Origin</td><td>Destination</td><td>Departure Time</td><td>Arrival Time</td><td>Passengers</td><td>Cabin Type</td><td>Flight Number</td><td>Aircraft Code</td><td>Origin</td><td>Destination</td><td>Departure Time</td><td>Arrival Time</td><td>Passengers</td><td>Cabin Type</td><td>Flight Number</td><td>Aircraft Code</td><td>Base Fare</td><td>Sale Tax</td><td>Total Fare</td>
      </tr>
    </thead>
    <tbody id="results">
    </tbody>
  </table>
</div>
</div>
<!-- <div id="flip"> <button type="button" class="btn btn-raised btn-primary" >Hide</button> </div> -->