<div class="container-fluid">
<h1>Displaying all search results</h1>

<%= form_tag new_search_path, method: "post", id:"search-input" do %>
  <%= label_tag(:origin, "Departure Airport: ") %>
  <%= text_field_tag(:origin) %>
  <%= label_tag(:destination, "Destination Airport: ") %>
  <%= text_field_tag(:destination) %>
  <%= label_tag(:departDate, "Departure Date: ") %>
  <%= text_field_tag(:departDate) %>
  <%= label_tag(:returnDate, "Return Date: ") %>
  <%= text_field_tag(:returnDate) %>
  <%= label_tag(:adultCount, "Adults: ") %>
  <%= text_field_tag(:adultCount) %>
  <%= label_tag(:childCount, "Children: ") %>
  <%= text_field_tag(:childCount, value = 0) %>
  <%= label_tag(:preferredCabin, "Cabin Class: ") %>
  <%= text_field_tag(:preferredCabin) %>
  <%= label_tag(:permittedCarrier, "Preferred Airlines: ") %>
  <%= text_field_tag(:permittedCarrier) %>
  <%= label_tag(:prohibitedCarrier, "Prohibited Airlines: ") %>
  <%= text_field_tag(:prohibitedCarrier) %>
  <%= label_tag(:maxStops, "Number of Stops: ") %>
  <%= text_field_tag(:maxStops, value = 0) %>

  <%= submit_tag("Search") %>
<% end %>



<div class="results">
  <table class="table table-striped">
    <thead>
      <tr><td>Origin</td><td>Destination</td><td>Departure Time</td><td>Arrival Time</td><td>Passengers</td><td>Cabin Type</td><td>Flight Number</td><td>Aircraft Code</td><td>Base Fare</td><td>Sale Tax</td><td>Total Fare</td></tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>

</div>